<!DOCTYPE html>
<html >
<head>
<body>
<img src="static/image/PIET logo with tagline.jpg"  width="1200" height="100">
<h1 style="color:blue"> About Summer Intenship 2022</h1>
<p style="font-size:20px;text-align:justify;color:black"><i>Department of Computer Science and Engineering, Poornima Institue of Engineering and Technology
(PIET) offered 45 days Summer Intenship on Data Science and Machine Learning for 2nd year students 
which provided us the enviornment to build up ideas, do research and development. 
PIET have been accredited by National Board  of Accredation(NBA) in year 2017-2018.
PIET had achieved incredible milestones because of their team work and innovative ideas.</i></p>
<br>
<img src="static/image/groupphoto.jpeg"  width="1000" height="380" style ="margin:10px 200px">
<br>
<h1 style="color:blue">Contribution</h1>
<p style="font-size:20px;text-align:justify;color:black"><i>I am Sejal Jain 2nd year B.Tech, Computer Science student at Poornima College of Enginnering.
I joined the Summer Intenship 2022 program launched by Department of Computer Science and Engineering,
Poornima Institue of Engineering and Technology(PIET) and it was a wonderful experience to work with the 
team of dedicated peoples. I have developed this project under the guidence of HOD, CS Department, Mr. Deepak Moud.
He was also our instructor and mentor during internship. He was very supportive and cooperative and 
I was able to explore some new technologies and most importantly my capabilites during this program and under Mr. Deepak
guidence.
I pushed myself to work with honesty and dedication.
To sum up, it was a wonderful and new experience for me, where I get to know my Areas of interest and the areas on which I 
need to work more and improve.</i></p>
<br>
 <h1 style="color:blue">Disclaimer</h1>
 <p style="font-size:20px;text-align:justify;color:black"><i>This website contains images and content  obtained  by  routine 
Google Images/document  searches. Some of these  images/data may perhaps be under copyright. They are  included here for 
educational and noncommercial  purposes and are considered to be covered by  the doctrine of Fair Use. In any event they are  
easily available from Google Images/data.It's not feasible to give full scholarly credit to the  creators of these images/data.
 We hope they can be  satisfied with the positive role.</i></p>
</body>
<div class="container" >
   <style>
       .GFG {
           background-color:blue;
           border: 2px solid black;
           color: white;
           padding: 5px 5px;
           text-align: center;
           display: inline-block;
           font-size: 20px;
           margin: 5px 50px;
           cursor: pointer;
       }
   </style>
    <button class="GFG" 
   onclick="window.location.href = '/';">
        Visit Home Page
    </button>
   <button class="GFG"
   onclick="window.location.href = '/index2';">
        NLP Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index3';">
        Model Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index4';">
       Model Prediction
   </button>
    <button class="GFG" 
   onclick="window.location.href = '/MiniProjects';">
       About Mini Projects
    </button>
   <button class="GFG" 
   onclick="window.location.href = '/index2';">
      VISIT NEXT PAGE-->>
   </button>
   
 </div>
 <br>
 <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 60px;">

            <marquee style="background-color:blue;color:white; margin-top: 7px;">
                <h9>Designed and Developed by SEJAL JAIN, Student, 2nd Year, Poornima College of Engineering, Department of Computer Engineering</h9>
            </marquee>
        </div>
    </div>
</head>
</html>
              