<!DOCTYPE html>
<html >
<body>
<img src="static/image/PIET logo with tagline.jpg"  width="1000" height="150">
<img src="static/image/nbanew.png"  width="150" height="150">
<img src="static/image/AICTEIdeaLabFooterLogo.png"  width="150" height="150">

<h1 style="text-align:center";>Summer Internship 2022 on</h1>
<style>S
h1{text-align: center;}
</style>
<img src="static/image/dpforml.jpg"  width="1450" height="300">
<h1 style="background-color:powderblue;">Developed by Sejal Jain, Student, Poornima college of Engineering, 2nd year, CS Department</h1>
<div class="container" >
   <style>
       .GFG {
           background-color:blue;
           border: 2px solid black;
           color: white;
           padding: 5px 10px;
           text-align: center;
           display: inline-block;
           font-size: 20px;
           margin: 5px 30px;
           cursor: pointer;
       }
   </style>
   <button class="GFG"
   onclick="window.location.href = '/index2';">
        NLP Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index3';">
        Model Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index4';">
       Model Prediction
   </button>
    <button class="GFG" 
   onclick="window.location.href = '/aboutus';">
       About Internship
    </button>
     <button class="GFG" 
    onclick="window.location.href = '/MiniProjects';">
        About Mini Projects
     </button>
   <button class="GFG" 
   onclick="window.location.href = '/index2';">
      VISIT NEXT PAGE-->>
   </button>
   
 </div>
 <br>
  <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 60px;">

            <marquee style="background-color:blue;color:white; margin-top: 7px;">
                <h9>Designed and Developed by SEJAL JAIN, Student, 2nd Year, Poornima College of Engineering, Department of Computer Engineering</h9>
            </marquee>
        </div>
    </div>
</body>
</html>