<!DOCTYPE html>
<html>
<head>
<body>
<img src="static/image/PIET logo with tagline.jpg"  width="1200" height="100">
<br>
<br>
<br>
<img src="static/image/nlp.jpg"  width="1550" height="260">
<h1>Introduction to Natural Language Processing (NLP)</h1>
<style>
h1{text-align: center;}
</style>
<p align="center"><i>NLP enables computers to understand natural language as humans do. 
Whether the language is spoken or written, natural language processing uses artificial intelligence
to take real-world input, process it, and make sense of it in a way a computer can understand. 
Just as humans have different sensors -- such as ears to hear and eyes to see -- computers have
programs to read and microphones to collect audio. And just as humans have a brain to process that
input, computers have a program to process their respective inputs. At some point in processing,
the input is converted to code that the computer can understand.
There are two main phases to natural language processing: data preprocessing and algorithm 
development.Data preprocessing involves preparing and "cleaning" text data for machines to be able 
to analyze it. preprocessing puts data in workable form and highlights features in the text that an
algorithm can work with.<i></p>
<style>
p{
  font-size: 1.875em;
}
</style>
</head>
</body>
<div class="container" >
   <style>
       .GFG {
           background-color:blue;
           border: 2px solid black;
           color: white;
           padding: 5px 10px;
           text-align: center;
           display: inline-block;
           font-size: 20px;
           margin: 5px 20px;
           cursor: pointer;
       }
   </style>
   <button class="GFG"
   onclick="window.location.href = '/';">
        Visit Home Page
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index3';">
        Model Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index4';">
       Model Prediction
   </button>
   <button class="GFG" 
  onclick="window.location.href = '/aboutus';">
      About Internship
   </button>
   <button class="GFG" 
  onclick="window.location.href = '/MiniProjects';">
      About Mini Projects
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index3';">
      VISIT NEXT PAGE-->>
   </button>
 </div>
 <br>
 <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 60px;">

            <marquee style="background-color:blue;color:white; margin-top: 7px;">
                <h9>Designed and Developed by SEJAL JAIN, Student, 2nd Year, Poornima College of Engineering, Department of Computer Engineering</h9>
            </marquee>
        </div>
    </div>
</html>