<!DOCTYPE html>
<html >
<head>
<body>
<img src="static/image/PIET logo with tagline.jpg"  width="1200" height="100">
<h1 style="text-align:center";>GitHub Account link for mini Projects done during the Internship</h1>
<p> 1. Developed and  deployed model for Home price prediction which takes area (in sqft) as input 
and predicts the price accordingly.
<br>
<a href= "https://github.com/sejalpcegithub/housingprice_reg_model">Click here</a></p>

<p> 2. Developed and  deployed model for Home price prediction which takes various parameters as input 
and predicts the price accordingly.
<br>
<a href= "https://github.com/sejalpcegithub/sejaljain_MultipleLinearRegressionModel">Click here</a></p>

<p> 3. Developed and  deployed models for decision tree algorithm implementation
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_decision_tree_streamlit_deployment">Click here</a>
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_DecisionTree_Model2_Deployment">Click here</a></p>

<p> 4. Developed and  deployed models for K nearest neighbour algorithm implementation
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_KNN_Deployment">Click here</a>
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_Titanic_KNNDeployment">Click here</a></p>

<p> 5. Developed and  deployed model for Random Forest and Support Vector Machine Algorithm implementation
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_Randon-SVM_deployment">Click here</a></p>

<p> 6. Developed and  deployed models for Natural Language Processing implementation
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_NLP_model_Deployment">Click here</a>
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_NLP_Project5_deployment">Click here</a></p>

<p> 7. Developed and  deployed model for placement prediction of students based on their academic records
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_Project6_Deployment">Click here</a></p>

<p> 8. Developed and  deployed model for impementation of Kmeans Clustering Algorithm
<br>
<a href= "https://github.com/sejalpcegithub/SejalJain_Project7_KMeansCluster">Click here</a></p>

<p> 9. Developed and  deployed model for impementation of  Algorithms (KNN, Decision tree, Random Forest and Support Vector Machine)
<br>
<a href= "https://github.com/sejalpcegithub/Sejal-Jain_Project7_Minor">Click here</a>

<div class="container" >
   <style>
       .GFG {
           background-color:blue;
           border: 2px solid black;
           color: white;
           padding: 5px 5px;
           text-align: center;
           display: inline-block;
           font-size: 20px;
           margin: 5px 50px;
           cursor: pointer;
       }
   </style>
    <button class="GFG" 
   onclick="window.location.href = '/';">
        Visit Home Page
    </button>
   <button class="GFG"
   onclick="window.location.href = '/index2';">
        NLP Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index3';">
        Model Description
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index4';">
       Model Prediction
   </button>
   <button class="GFG" 
   onclick="window.location.href = '/index2';">
      VISIT NEXT PAGE-->>
   </button>
   
 </div>
 <br>
 <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 60px;">

            <marquee style="background-color:blue;color:white; margin-top: 7px;">
                <h9>Designed and Developed by SEJAL JAIN, Student, 2nd Year, Poornima College of Engineering, Department of Computer Engineering</h9>
            </marquee>
        </div>
    </div>

</head>
</html>